header{
width: 1500px;
height: 150px;
background-color: #bfbfbf;
color: #000000;
text-align: center;
}
nav#top{
width: 1500px;
height: 50px;
background-color: #818181;
color: #000000;
text-align: center;
}
nav#side{
width: 150px;
height: 600px;
float: left;
margin-left: 50px;
margin-top: 50px;
background-color: #818181;
color: #000000;
text-align: center;
}
section{
overflow: auto;
background-color: #3d3d3d;
width: 1500;
height: 750;
color: #000000;
}
.scrollable-article {
width: 535px;
height: 560;
background-color: #949494;
margin-top: 50px;
margin-left: 50px;
float: left;
color: #000000;
padding: 20px 20px;
overflow-y: auto;
}
.scrollable-aside {
width: 535;
height: 580;
background-color: #949494;
margin-top: 50px;
margin-left: 50px;
float: left;
color: #000000;
padding: 0px 20px 20px;
overflow-y: auto;
text-align: center;
font-size: 20;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
height: 70px;
width: 1500px;
background-color: #666666;
color: #000000;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
color: #2b2b2b;
font-family: cursive;
font-style: italic;
}
ul{
margin-right: 100;
text-align: center;
}
h2{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 100;
}