header{
width: 1500px;
height: 150px;
background-color: #eec055;
color: #000000;
text-align: center;
}
nav#top{
width: 1500px;
height: 50px;
background-color: #af8114;
color: #000000;
text-align: center;
}
nav#side{
width: 150px;
height: 600px;
float: left;
margin-left: 50px;
margin-top: 50px;
background-color: #af8114;
color: #000000;
text-align: center;
}
section{
overflow: auto;
background-color: #5c4100;
width: 1500;
height: 750;
color: #000000;
}
article{
width: 575px;
height: 600;
background-color: #d8a52b;
margin-top: 50px;
margin-left: 50px;
float: left;
color: #000000;
}
aside{
width: 575px;
height: 600;
background-color: #d8a52b;
margin-top: 50px;
margin-left: 50px;
float: left;
color: #000000;
}
footer{
height: 70px;
width: 1500px;
background-color: #8b6201;
color: #000000;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
color: #303030;
font-family: cursive;
font-style: italic;
}
ul{
margin-right: 100;
text-align: center;
}
h2{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 100;
}