header{
width: 1500px;
height: 150px;
background-color: #167e64;
color: #ffffff;
text-align: center;
}
nav#top{
width: 1500px;
height: 50px;
background-color: #076850;
color: #ffffff;
text-align: center;
}
nav#side{
width: 150px;
height: 600px;
float: left;
margin-left: 50px;
margin-top: 50px;
background-color: #076850;
color: #ffffff;
text-align: center;
}
section{
overflow: auto;
background-color: #002018;
width: 1500;
height: 750;
color: #ffffff;
}
.scrollable-article {
width: 535;
height: 560;
background-color: #00533e;
margin-top: 50px;
margin-left: 50px;
float: left;
color: #ffffff;
padding: 20px 20px;
overflow-y: auto;
}
.scrollable-aside {
width: 535;
height: 580;
background-color: #00533e;
margin-top: 50px;
margin-left: 50px;
float: left;
color: #ffffff;
padding: 0px 20px 20px;
overflow-y: auto;
text-align: center;
font-size: 20;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
height: 70px;
width: 1500px;
background-color: #003a2c;
color: #ffffff;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
color: #aaaaaa;
font-family: cursive;
font-style: italic;
}
ul{
margin-right: 100;
text-align: center;
}
h2{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 100;
}