header{
width: 100%;
height: 150px;
background-color: #ffc95c;
color: #000000;
text-align: center;
}
nav#top{
width: 100%;
height: 50px;
background-color: #ffbc49;
color: #000000;
text-align: center;
}
nav#side{
width: 10%;
height: 600px;
float: left;
margin-left: 50px;
margin-top: 50px;
background-color: #ffbc49;
color: #000000;
text-align: center;
}
section{
overflow: auto;
background-color: #ff930f;
width: 100%;
height: 750;
color: #000000;
}
.scrollable-article {
width: 35.6666667%;
height: 560;
background-color: #ffae36;
margin-top: 50px;
margin-left: 50px;
float: left;
color: #000000;
padding: 20px 20px;
overflow-y: auto;
}
.scrollable-aside {
width: 35.6666667%;
height: 580;
background-color: #ffae36;
margin-top: 50px;
margin-left: 50px;
float: left;
color: #000000;
padding: 0px 20px 20px;
overflow-y: auto;
text-align: center;
font-size: 20;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
height: 70px;
width: 100%;
background-color: #ffa122;
color: #000000;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
color: #777777;
font-family: cursive;
font-style: italic;
}
ul{
text-align: left;
}
h2{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 100;
}