header{
width: 1500px;
height: 150px;
background-color: #9BD46A;
text-align: center;
}
nav{
width: 1500px;
height: 50px;
background-color: #8CC95B;
text-align: center;
}
section{
overflow: auto;
background-color: #5DA92F;
width: 1500;
height: 750;
}
article{
width: 675px;
height: 600;
background-color: #7CBF4D;
margin-top: 50px;
margin-left: 50px;
float: left;
}
aside{
width: 675px;
height: 600;
background-color: #7CBF4D;
margin-top: 50px;
margin-left: 50px;
float: left;
}
footer{
height: 70px;
width: 1500px;
background-color: #6DB43E;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
color: #666666;
font-family: cursive;
font-style: italic;
}
ul{
margin-right: 100;
text-align: center;
}
h2{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 100;
}