header{
width: 1500px;
height: 150px;
background-color: #fde2ff;
text-align: center;
}
nav{
width: 1500px;
height: 50px;
background-color: #e8cee4;
text-align: center;
}
section{
overflow: auto;
background-color: #8884ff;
width: 1500;
height: 750;
}
article{
width: 675px;
height: 600;
background-color: #d7bce8;
margin-top: 50px;
margin-left: 50px;
float: left;
}
aside{
width: 675px;
height: 600;
background-color: #d7bce8;
margin-top: 50px;
margin-left: 50px;
float: left;
}
footer{
height: 70px;
width: 1500px;
background-color: #5d576b;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
color: #aaaaaa;
font-family: cursive;
font-style: italic;
}
ul{
margin-right: 100;
text-align: center;
}
h2{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 100;
}