header{
width: 1500px;
height: 150px;
background-color: #9BD46A;
text-align: center;
}
nav{
width: 1500px;
height: 50px;
background-color: #8CC95B;
text-align: center;
}
section{
overflow: auto;
background-color: #5DA92F;
width: 1500px;
height: 750px;
}
.scrollable-article {
width: 635px;
height: 560px;
background-color: #7CBF4D;
margin-top: 50px;
margin-left: 50px;
float: left;
overflow-y: auto;
padding: 20px 20px;
}
.scrollable-aside {
width: 635px;
height: 580px;
background-color: #7CBF4D;
margin-top: 50px;
margin-left: 50px;
float: left;
text-align: center;
overflow-y: auto;
padding: 0px 20px 20px;
font-size: 20;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
height: 70px;
width: 1500px;
background-color: #6DB43E;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
color: #666666;
font-family: cursive;
font-style: italic;
}
h2{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 100;
}