header{
width: 100%;
height: 150px;
background-color: #9d5c5c;
color: #ffffff;
text-align: center;
}
nav#top{
width: 100%;
height: 50px;
background-color: #680d0d;
color: #ffffff;
text-align: center;
}
nav#side{
width: 10%;
height: 600px;
float: left;
margin-left: 50px;
margin-top: 50px;
background-color: #680d0d;
color: #ffffff;
text-align: center;
}
section{
overflow: auto;
background-color: #410000;
width: 100%;
height: 750;
color: #ffffff;
}
.scrollable-article {
width: 35.6666667%;
height: 560;
background-color: #893131;
margin-top: 50px;
margin-left: 50px;
float: left;
color: #ffffff;
padding: 20px 20px;
overflow-y: auto;
}
.scrollable-aside {
width: 35.6666667%;
height: 580;
background-color: #893131;
margin-top: 50px;
margin-left: 50px;
float: left;
color: #ffffff;
padding: 0px 20px 20px;
overflow-y: auto;
text-align: center;
font-size: 20;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
height: 100%;
width: 1500px;
background-color: #520000;
color: #ffffff;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
color: #aaaaaa;
font-family: cursive;
font-style: italic;
}
ul{
text-align: left;
}
h2{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 100;
}