header{
width: 1500px;
height: 150px;
background-color: #9d5c5c;
color: #ffffff;
}
nav#top{
width: 1500px;
height: 50px;
background-color: #680d0d;
color: #ffffff;
}
nav#side{
width: 150px;
height: 600px;
float: left;
margin-left: 50px;
margin-top: 50px;
background-color: #680d0d;
color: #ffffff;
}
section{
overflow: auto;
background-color: #410000;
width: 1500;
height: 750;
color: #ffffff;
}
article{
width: 575px;
height: 600;
background-color: #893131;
margin-top: 50px;
margin-left: 50px;
float: left;
color: #ffffff;
}
aside{
width: 575px;
height: 600;
background-color: #893131;
margin-top: 50px;
margin-left: 50px;
float: left;
color: #ffffff;
}
footer{
height: 70px;
width: 1500px;
background-color: #520000;
color: #ffffff;
}