header{
width: 1500px;
height: 150px;
background-color: #fde2ff;
}
nav{
width: 1500px;
height: 50px;
background-color: #e8cee4;
}
section{
overflow: auto;
background-color: #8884ff;
width: 1500;
height: 750;
}
article{
width: 675px;
height: 600;
background-color: #d7bce8;
margin-top: 50px;
margin-left: 50px;
float: left;
}
aside{
width: 675px;
height: 600;
background-color: #d7bce8;
margin-top: 50px;
margin-left: 50px;
float: left;
}
footer{
height: 70px;
width: 1500px;
background-color: #5d576b;
}