header{
width: 1500px;
height: 150px;
background-color: #167e64;
}
nav{
width: 1500px;
height: 50px;
background-color: #076850;
}
section{
overflow: auto;
background-color: #002018;
width: 1500;
height: 750;
}
article{
width: 575px;
height: 600;
background-color: #00533e;
margin-top: 50px;
margin-left: 50px;
float: left;
}
aside{
width: 575px;
height: 600;
background-color: #00533e;
margin-top: 50px;
margin-left: 50px;
float: left;
}
footer{
height: 70px;
width: 1500px;
background-color: #003a2c;
}